#badges{color:rgb(255,255,137);background:rgba(189,0,189,0.7);width:50%;left:25%;height:60%;top:20%;position:absolute;z-index:10;overflow-y:scroll;}
#badges .closebtn{width:100%;color:yellow;text-align:right;font-size:20px;cursor:pointer;}
#badges div{width:calc(20% - 10px);height:calc(25% - 10px);position:relative;text-align:center;padding:5px;overflow:hidden;display:inline-block;}
#badges div img{width:100%;z-index:5;height:100%;}
#badges div p{position:absolute;margin:0;z-index:10;background:rgba(200,200,200,0.7);white-space: nowrap;width:calc(100% - 10px);bottom:5px;
  overflow: hidden;
  text-overflow: ellipsis;}

#badges::-webkit-scrollbar {
  display: none;
}