#chieftainhouse{color:rgb(255,255,137);background:rgba(189,0,189,0.7);width:50%;left:25%;height:60%;top:20%;position:absolute;z-index:10;text-align:center;}
#chieftainhouse .closebtn{width:100%;color:yellow;text-align:right;font-size:20px;cursor:pointer;}

#chieftainhouse input[type=range]{}

#chieftainhouse input[type='range'] {
      overflow: hidden;
      width:calc(100% - 4px);
	  max-width:500px;
      -webkit-appearance: none;
      background-color: rgb(255,255,137);
    }
    
    #chieftainhouse input[type='range']::-webkit-slider-runnable-track {
      height: 25px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    #chieftainhouse input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 25px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -500px 0 0 500px rgb(255,255,0);
    }