html,#maindiv,body,#root,canvas,#canvascontainer,#canvascontainer div{min-height:100%;min-width:100%;margin:0;padding:0;}
canvas,#canvascontainer,#canvascontainer div{position:absolute !important;}
p{margin:0;padding:0;}